/* Header container */
.header {
    background-color: #1976d2; /* Change the background color as needed */
  }
  
  /* Toolbar inside the header */
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo link */
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  /* Logo icon */
  .logo-icon {
    font-size: 2rem;
  }
  
  /* Logo title */
  .logo-title {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  
 /* Navigation links */
.nav {
    margin-left: auto; /* Moves the navigation links to the right */
    display: flex;
    align-items: center;
  }
  
  /* Navigation link */
  .nav-link {
    margin-left: 20px; /* Adjust spacing between links if needed */
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
  }
  
  /* Active navigation link */
  .active-link {
    font-weight: bold;
  }
  
  /* Logout link */
  .logout-link {
    text-decoration: none;
    color: inherit;
  }
  
  /* Logout icon */
  .logout-icon {
    font-size: 1.5rem;
  }
  
  
    /* Container holding the entire recipe details */
.recipe-details-container {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* Card containing recipe information */
.recipe-card {
  background: linear-gradient(135deg, #f6f8fa 0%, #e7ebef 100%);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Recipe title */
.recipe-title {
  font-size: 2rem;
  margin: 10px 0;
  color: #333;
  text-align: center;
}

/* Recipe description */
.recipe-description {
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

/* Recipe ingredients section */
.recipe-ingredients {
  padding: 20px;
  background-color: #f6f8fa;
}

/* Input field for number of people */
.recipe-number-of-people {
  margin-bottom: 20px;
}

/* Table cell containing ingredient item */
.ingredient-item {
  font-weight: bold;
}

/* Container holding recipe actions (Edit and Delete buttons) */
.recipe-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Edit button */
.edit-button,
.delete-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
  position: relative;
  overflow: hidden;
}

.edit-button::before,
.delete-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  border-radius: 30px;
  transition: transform 0.4s;
}

.edit-button:hover::before,
.delete-button:hover::before {
  transform: scaleX(0);
}

.edit-button:hover {
  background-color: #4caf50;
  color: #fff;
}

.delete-button:hover {
  background-color: #f44336;
  color: #fff;
}

/* Confirmation dialog for recipe deletion */
.delete-confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Confirmation dialog title */
.delete-confirmation-dialog .dialog-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Confirmation dialog message */
.delete-confirmation-dialog .dialog-message {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Confirmation dialog buttons */
.delete-confirmation-dialog .dialog-buttons {
  display: flex;
  justify-content: center;
}

/* Confirmation dialog button */
.delete-confirmation-dialog .dialog-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Confirmation dialog confirm button */
.delete-confirmation-dialog .confirm-button {
  background-color: #f44336;
  color: #fff;
}

/* Confirmation dialog cancel button */
.delete-confirmation-dialog .cancel-button {
  background-color: #ccc;
  color: #333;
}

/* Confirmation dialog button hover effect */
.delete-confirmation-dialog .dialog-button:hover {
  filter: brightness(90%);
}


  
  


  .home-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to 100% of the viewport height */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/chicken.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
  
  .content {
    z-index: 1; /* Make sure content appears above the background image */
    padding: 10px; /* Adjust padding as needed */
    color: black; /* Set text color to contrast with the background */
    text-align: center; /* Center align the content */
  }
  
  .home-title {
    font-size: 32px; /* Adjust font size as needed */
  }
  
  .home-description {
    font-size: 18px; /* Adjust font size as needed */
  }
  
  .home-link {
    display: inline-block;
    margin-top: 20px; /* Adjust margin as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #ff4500; /* Set background color for the link */
    color: #fff; /* Set text color for the link */
    text-decoration: none;
    border-radius: 5px; /* Add rounded corners */
  }
  
  .home-link:hover {
    background-color: #d13400; /* Change background color on hover */
  }
  


  .bookmark-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
