 * {
   box-sizing: border-box;
 }

 html,
 body {
   margin: 0;
   padding: 0;
   background-color: #fff7ed;
   font-family: "Inter", sans-serif;
 }

 a {
   text-decoration: unset;
   color: unset;
 }

 body::-webkit-scrollbar {
   display: none;
 }

 body {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }

 .site-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }

 .content {
   flex-grow: 1;
   padding: 2rem;
 }

 @media screen and (max-width: 600px) {
   .content {
     padding: 1rem;
   }
 }

 header {
   height: 110px;
   display: flex;
   align-items: center;
   padding-block: 10px;
 }

 header .site-logo {
   color: black;
   margin-right: auto;
   text-transform: uppercase;
   font-weight: 900;
   font-size: 25px;
 }

 header a {
   text-decoration: none;
   color: #4D4D4D;
   font-weight: 600;
   padding: 5px 20px;
 }

 header a:hover {
   color: #161616;
   text-decoration: underline;
 }

 .link-button {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   border: none;
   padding: .75rem 1.375rem;
   color: initial;
   font-weight: 700;
   border-radius: 5px;
   cursor: pointer;
   transition: transform .1s ease-in-out;
 }

 .link-button:hover {
   transform: translate(1px, 1px);
 }

 .search-container {
   display: flex;
   align-items: center;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 15px;
   padding: 0.4rem 0.8rem;
   margin-right: 55px;
   margin-bottom: 15px;
 }

 .search-icon {
   color: #999;
   font-size: 1.2rem;
   margin-right: 0.5rem;
 }

 .search-input {
   flex-grow: 1;
   border: none;
   outline: none;
   font-size: 1rem;
 }

 .logo {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .logo-link {
   display: flex;
   align-items: center;
   text-decoration: none;
 }

 .logo-icon {
   height: 30px;
   width: 30px;
 }

 .logo-title {
   margin-left: 10px;
   font-size: 18px;
   font-weight: bold;
 }

 .logo-link:hover .logo-title {
   text-decoration: underline;
 }

 /* Responsive adjustments */
 @media (max-width: 768px) {
   .logo {
     flex-direction: column;
     text-align: center;
   }

   .logo-title {
     margin-top: 5px;
     margin-left: 0;
   }
 }

 header .logo {
   color: #66bfbf;
   margin-right: auto;
   text-transform: uppercase;
   font-weight: 900;
   font-size: 15px;
 }

 a.active-link {
   font-weight: bold;
   text-decoration: underline;
   color: #161616;
 }

 header a {
   text-decoration: none;
   color: #4d4d4d;
   font-weight: 600;
   padding: 5px 20px;
 }

 header a:hover {
   text-decoration: #009688;
 }

 header .login-icon {
   height: 18px;
   width: 18px;
 }

 header .login-link {
   display: inline-flex;
   align-items: center;
 }

 nav {
   display: flex;
 }

 main {
   margin-bottom: 84px;
 }

 footer {
   background-color: #161616;
   color: #aaaaaa;
   height: 74px;
   display: flex;
   flex-shrink: 0;
   justify-content: center;
   align-items: center;
   margin-top: auto;
   font-weight: 500;
 }

 .link-button {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   border: none;
   padding: 0.75rem 1.375rem;
   color: initial;
   font-weight: 700;
   border-radius: 5px;
   cursor: pointer;
   transition: transform 0.1s ease-in-out;
 }

 .back-button {
   display: block;
   color: black;
   text-decoration: none;
   margin-left: 26px;
 }

 .back-button span:hover {
   text-decoration: underline;
 }

 .link-button:hover {
   transform: translate(1px, 1px);
 }

 .home-container {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
   url("./assets/images/chicken.png") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height: 610px;
   color: white;
   padding: 75px 23px;
 }

 .home-container h1 {
   margin-bottom: 90px;
   font-weight: 600;
   font-size: 3.25rem;
   line-height: 42px;
 }

 .home-container p {
   line-height: 24px;
   font-size: 20px;
 }

 .home-container a {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   background-color: #ff8c38;
   border: none;
   width: 100%;
   margin-top: 57px;
   padding-block: 0.75rem;
   color: white;
   font-weight: 700;
   border-radius: 5px;
   cursor: pointer;
   transition: transform 0.1s ease-in-out;
 }

 .home-container a:hover {
   background-color: #080808;
   transform: translate(1px, 1px);
 }

 /*** ABOUT PAGE ***/
 .about-page-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
 }

 .about-foody-image {
   width: 100%;
   max-width: 1200px;
   margin-bottom: 2rem;
 }

 .about-page-content {
   max-width: 800px;
   text-align: center;
   margin-bottom: 2rem;
 }

 .about-page-content h1 {
   font-size: 3rem;
   margin-bottom: 1rem;
 }

 .about-page-content p {
   font-size: 1.2rem;
   margin-bottom: 1rem;
   line-height: 1.5;
 }

 .about-page-cta {
   background-color: #f6f6f6;
   padding: 2rem;
   text-align: center;
 }

 .about-page-cta h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
 }

 .about-page-cta .link-button {
   padding: 1rem 2rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   background-color: #ffcc8d;
   color: #fff;
   border: none;
   border-radius: 0.25rem;
   cursor: pointer;
   transition: background-color 0.2s ease-in-out;
 }

 .about-page-cta .link-button:hover {
   background-color: #161616
 }


 /*** food PAGES ***/
 .food-list-container {
   max-width: 100px;
   padding: 40px;
   text-align: center;
 }

 .food-list-container h1 {
   font-size: 36px;
   margin-bottom: 40px;
 }

 .food-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
   grid-gap: 40px;
 }

 .food-title {
   position: relative;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   transition: transform 0.2s ease-in-out;
 }

 .food-title:hover {
   transform: scale(1.05);
 }

 .food-title img {
   width: 100%;
   height: 200px;
   object-fit: cover;
 }

 .food-info {
   padding: 20px;
   background-color: #fff;
   text-align: left;
 }

 .food-info p {
   font-size: 24px;
   font-weight: 600;
   margin: 0;
 }

 .food-info p span {
   font-size: 16px;
   font-weight: 400;
   margin-left: 5px;
 }

 .food-info h3 {
   font-size: 28px;
   font-weight: 600;
   margin: 10px 0 20px 0;
 }

 .food-type {
   font-weight: italic;
   letter-spacing: 2px;
   color: #555555;
   font-size: 14px;
   margin-top: 15px;
 }

 .food-type:hover {
   color: red;
 }

 .food-detail-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   border-radius: 15px;
 }

 .food-detail {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 800px;
   height: 880px;
   padding: 20px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .food-detail img {
   width: 100%;
   max-height: 500px;
   object-fit: contain;
   border-radius: 16px;
 }

 .food-detail h2 {
   margin: 20px 0;
   font-size: 36px;
   font-weight: bold;
 }

 .food-detail p {
   margin: 20px 0;
   font-size: 18px;
   line-height: 1.5;
 }

 .highlighted-heading {
   text-align: center;
   cursor: pointer;
   /* color: #ff0000; */
   /* Set your desired highlight color */
   font-weight: bold;
   text-transform: uppercase;
   font-size: 18px;
   margin-top: 20px;
   animation: pulseEffect 2s infinite;
 }

 @keyframes pulseEffect {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.2);
   }

   100% {
     transform: scale(1);
   }
 }

 .highlighted-heading:hover {
   color: #ff00ff;
   transition: color 0.3s ease;
 }

 @media (max-width: 600px) {
   .foods-header {
     flex-direction: column;
     align-items: flex-start;
   }

   .add-icon {
     margin-bottom: 10px;
     margin-left: 0;
   }

   .search-bar {
     margin-right: 0;
     margin-bottom: 10px;
   }
 }

 .link-button {
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #009688;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 20px;
   border: none;
   cursor: pointer;
 }

 .link-button:hover {
   background-color: #00796b;
 }


 .host-nav {
   display: flex;
   margin-bottom: 30px;
 }

 .host-nav a {
   text-decoration: none;
   color: #4d4d4d;
   font-weight: 500;
   padding: 5px 20px;
 }

 .host-nav a:hover {
   color: #161616;
   text-decoration: underline;
   font-weight: 600;
 }

 .host-food-link-wrapper {
   color: unset;
   text-decoration: unset;
 }

 .host-foods-list {
   padding-inline: 26px;
 }

 .host-foods-title {
   padding-inline: 26px;
 }

 .host-food-single {
   display: flex;
   align-items: center;
   background-color: white;
   margin-bottom: 15px;
   padding: 18px 24px;
 }

 .host-food-single>img {
   height: 70px;
   border-radius: 5px;
   margin-right: 17px;
 }

 @media (max-width: 600px) {
   .host-food-detail {
     text-align: left;
   }

   .host-food-detail img {
     width: 100%;
   }
 }

 .food-list {
   display: grid;
   width: 98%;
   border-radius: 15px;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   margin-left: 30px;
 }

 .food-item {
   width: 90%;
   border-radius: 15px;
   border: 1px solid #ccc;
   padding: 10px;
   text-align: center;
   transition: transform 0.3s ease;
 }

 .food-item:hover {
   transform: scale(1.05);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 }

 .food-item img {
   max-width: 70%;
   height: auto;
   border-radius: 15px;
   margin-bottom: 10px;
 }

 .food-item h2 {
   font-size: 18px;
   margin-bottom: 5px;
 }

 .food-item p {
   font-size: 14px;
   color: #888;
 }

 .host-food-detail-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #f9f6f6;
 }

 .host-food-detail {
   background-color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   border-radius: 15px;
   border: 1px solid black;
   text-align: center;
 }

 .host-food-detail img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 50%;
   margin-bottom: 10px;
 }

 .host-food-detail h3 {
   color: #161616;
   font-size: 24px;
   margin-bottom: 10px;
 }

 .host-food-detail ol {
   text-align: left;
   margin-bottom: 20px;
 }

 .host-food-detail ol li {
   margin-bottom: 8px;
 }

 .host-food-detail button {
   background-color: #009688;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 4px;
   margin-right: 10px;
   cursor: pointer;
 }

 .host-food-detail button:hover {
   background-color: #00796b;
 }

 .loading-message {
   margin-top: 40px;
   color: #161616;
   font-size: 20px;
   font-weight: 500;
 }

 @keyframes iconScale {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.4);
   }

   100% {
     transform: scale(1);
   }
 }

 .edit-icon,
 .delete-icon {
   font-size: 34px;
   cursor: pointer;
   animation: iconScale 1s infinite;
   margin-right: 15px;
 }

 .edit-icon:hover {
   animation: none;
   transform: scale(1.2);
   color: #007BFF;
 }

 .delete-icon:hover {
   animation: none;
   transform: scale(1.2);
   color: red;
   /* Set your desired hover color */
 }

 .edit-icon:last-child,
 .delete-icon:last-child {
   margin-right: 0;
   /* Remove the margin-right from the last icon */
 }

 .edit-food-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #f8f8f8;
   padding: 20px;
 }

 .edit-food-form {
   background-color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   border-radius: 8px;
   text-align: center;
   width: 100%;
   margin: 0 auto;
 }

 .edit-food-form h2 {
   color: #161616;
   font-size: 24px;
   margin-bottom: 20px;
 }

 .edit-food-form label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
   color: #4d4d4d;
 }

 .edit-food-form input,
 .edit-food-form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 10px;
 }

 .edit-food-form button {
   background-color: #009688;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 4px;
   cursor: pointer;
 }

 .edit-food-form button:hover {
   background-color: #00796b;
 }

 .loading-message {
   margin-top: 40px;
   color: #161616;
   font-size: 20px;
   font-weight: 500;
 }

 /* Responsive Styles */
 @media (max-width: 600px) {
   .edit-food-container {
     padding: 20px;
   }

   .edit-food-form {
     max-width: none;
   }
 }

 .create-food-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #f8f8f8;
   min-height: 100vh;
   padding: 20px;
 }

 .create-food-form {
   background-color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   border-radius: 8px;
   min-height: 400px;
   width: 100%;
   margin: 0 auto;
 }

 .create-food-form h2 {
   color: #161616;
   font-size: 24px;
   margin-bottom: 20px;
 }

 .create-food-form label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
   color: #4d4d4d;
 }

 .create-food-form input,
 .create-food-form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 10px;
 }

 .create-food-form button {
   background-color: #009688;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 4px;
   cursor: pointer;
 }

 .create-food-form button:hover {
   background-color: #00796b;
 }

 .error-message {
   color: red;
   margin-top: 10px;
 }

 @media (min-width: 576px) {
   .create-food-form {
     max-width: 500px;
   }
 }

 @media (min-width: 768px) {
   .create-food-form {
     max-width: 600px;
   }
 }

 @media (min-width: 992px) {
   .create-food-form {
     max-width: 700px;
   }
 }

 @media (min-width: 1200px) {
   .create-food-form {
     max-width: 800px;
   }
 }

 .nav {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f2f2f2;
   padding: 20px;
 }

 .nav-link {
   font-size: 18px;
   font-weight: bold;
   border-bottom: 2px solid transparent;
   margin: 0 20px;
   padding-bottom: 8px;
 }

 .active-link {
   border-bottom: 2px solid #000;
 }

 .nav-link:hover {
   text-decoration: underline;
   border-bottom: 2px solid #000;
 }

 /* .ingredients-table {
  margin-bottom: 20px;
}

.ingredients-table label {
  font-weight: bold;
}

.ingredients-table select {
  width: 100px;
  padding: 5px;
}

.ingredients-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.ingredients-table th,
.ingredients-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.ingredients-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.ingredients-table td:first-child {
  width: 30px;
  text-align: center;
}

.ingredients-table tbody tr:hover {
  background-color: #f9f9f9;
}

.ingredients-table p {
  margin-top: 10px;
  font-style: italic;
}

.ingredients-table label {
   font-weight: bold;
   background-color: #f2f2f2;
   color: #333;
   padding: 5px;
   border-radius: 5px;
 }

 .ingredients-table label:hover {
   background-color: #ddd;
 }


 .ingredient-calculation {
   margin-top: 20px;
 }

 .num-persons {
   margin-bottom: 10px;
 }

 .ingredients-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
 }

 .ingredients-table th,
 .ingredients-table td {
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }

 .ingredients-table th {
   background-color: #f2f2f2;
   font-weight: bold;
 } */

 .host-food-detail-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
 }

 .host-food-detail {
   text-align: center;
 }

 .host-food-detail img {
   width: 300px;
   height: 300px;
   object-fit: cover;
   border-radius: 10px;
 }

 .ingredient-calculation {
   margin-top: 20px;
 }

 .num-persons {
   margin-bottom: 10px;
 }

 .ingredient-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
 }

 .ingredient-table th,
 .ingredient-table td {
   padding: 8px;
   border: 1px solid #0a0a0a;
 }

 .ingredient-table th {
   background-color: #0d0b0b;
   font-weight: bold;
   text-align: center;
 }

 .edit-icon,
 .delete-icon {
   cursor: pointer;
   margin-top: 20px;
 }

 .edit-icon {
   color: #2196f3;
   margin-right: 10px;
 }

 .delete-icon {
   color: #f44336;
 }

/* back-button  */
.back-button {
  display: inline-flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.back-button span {
  margin-left: 5px;
}

.back-button:hover {
  color: #555;
}

.back-button:hover span {
  text-decoration: underline;
}
